composer.*
docker-compose.yml
.editorconfig
.envrc
fixtures.xml
.git
.github
.gitignore
images
LICENSE
videoalacon.local+1-key.pem
videoalacon.local+1.pem
Makefile
mysql
nginx
.pre-commit-config.yaml
README.md
requirements.txt
uploads
vendor
venv
